* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../assets/fundo-clima.jpg');
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    color: white;
    background: black;
    opacity: .8;
    font-size: 1.2em;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    padding: 30px;
    height: auto;
    max-height: 450px;
}

input:focus {
    outline: 0;
}

.search input {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    height: 20px;
}

.search {
    margin-bottom: 5px;
    display: flex;
    align-items: stretch;
}

.btn-search {
    background: rgb(25, 110, 10);
    color: white;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn-search:hover {
    background: rgb(25, 110, 10);
    color: white;
}

.btn-clear {
    background: rgb(194, 206, 192);
    color: rgb(27, 17, 17);
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    width: auto;
    margin: 5px 5px;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-clear:hover {
    background: rgb(209, 30, 30);
    color: white;
}

.btn-clear span {
    padding: 5px;
}

#bandeiraCurrent {
    width: 50px;
}

.align-center {
    text-align: center;
}

.grau {
    font-size: 3em;
    margin: 10px 10px;
}

.align-label {
    display: flex;
    justify-content: center;
}

.city {
    margin: 15px 0px;
    font-size: 1.9em;
}

.notFound {
    display: none;
    color: red;
    font-weight: 800;
}

.hiddenCard {
    display: none;
}


/********** loading *********/
.hiddenLoading {
    display: none;
    flex-direction: column;
    align-items: center;
}

.hiddenLoading label{
    margin-bottom: 15px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}